<div class="col-md-12">
<div class="tile">
	<div class="p-10">
		<div>
			<h3>${welcomeMsg}</h3>
		</div>
		<div id="goal-list-key" class="listview narrow"
			style="max-height: 8pc; overflow-y: scroll;">
			<% for(item in assistantList){ %>
			<div class="media">
				<div class="pull-right">
					<div class="counts">
					<% for(word in item.related_word_list){ %>
					${word.associated_word}
					<%}%>
					</div>
				</div>
				<div class="media-body">
					<h6>${item.assistant_name}</h6>
				</div>
			</div>
			<%}%>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
</div>